{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">Regular Pizza</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            <tbody>
                {% for pizza in regular_pizzas %}
                <tr>
                    <td>{{ pizza.menu_description }}</td>
                    <td>${{ pizza.small_price }}</td>
                    <td>${{ pizza.large_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

    <h3 class="text-center">Sicilian Pizza</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            <tbody>
                {% for pizza in sicilian_pizzas %}
                <tr>
                    <td>{{ pizza.menu_description }}</td>
                    <td>${{ pizza.small_price }}</td>
                    <td>${{ pizza.large_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

    {% if user.is_authenticated %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pizzaModal">
        Order Pizza
    </button>
    {% else %}
    <p>Log In to Order</p>
    {% endif %}
  
  <h3 class="text-center">Steaks and Hoagies</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
                <th>Toppings</th>
            </tr>
            <tbody>
                {% for sandwich in sandwiches %}
                <tr>
                    <td>{{ sandwich.menu_description }}</td>
                    <td>
                      {% if sandwich.small_price %}
                        ${{ sandwich.small_price }}
                      {% endif %}
                    </td>
                    <td>${{ sandwich.large_price }}</td>
                    <td>
                      {% if sandwich.extra_cheese %}Extra Cheese +.50<br/>{% endif %}
                      {% if sandwich.wit %}Wit +.50<br/>{% endif %}
                      {% if sandwich.mushrooms %}Mushrooms +.50<br/>{% endif %}
                      {% if sandwich.peppers %}Peppers +.50<br/>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
{% endblock  %}

{% block modal %}
<div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Order Pizza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
        <p>Order Pizza</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock  %}